<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
        <h2><%= character.name %></h2>
        <h3><%= character.quote %></h3>
        <div class="content">
            <p><%= character.bio%></p>
        </div>
        <a class="delete" data-doc="<%= character.id %>">delete</a>
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (event) => {
            const endpoint =   `/characters/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch((err) => {
                console.log(err);
            });
        });
    </script>
</body>
</html>