<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <div class="body-container">
        <div class="header-container">
            <h1 id="page-title" class="home-page">Fire Emblem Character Profiles</h1>
            <%- include('./partials/nav.ejs') %>
        </div>
    
        <div class="parchment-container">
            <div class="main-content-container">
                <h2>Welcome to the Fire Emblem Character Profiles Website Homepage</h2>

                <div class="featured-profile-container">
                    <div class="featured-profile-content">
                        <h3>Checkout the newest profile addition here:</h3> 
                        <a href="/characters/<%= featuredProfile.id %>"><img name="featured-profile-portrait" src="/portraits/<%= featuredProfile.portrait %>"></a> <!--make this a link to the details page of the most recent character profile to be added-->
                    </div>
                </div>

                <div class="main-content">
                    <p>
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem           
                    </p>
                </div>
                <div>
                    <img name="three-houses-cover" src="images/three-houses-cover.jpg">
                </div>
                <div class="main-content">
                    <p>
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem           
                    </p>
                </div>
                <div>
                    <img name="three-houses-cover" src="images/three-houses-cover.jpg">
                </div>
                <div class="main-content">
                    <p>
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem           
                    </p>
                </div>
                <div>
                    <img name="three-houses-cover" src="images/three-houses-cover.jpg">
                </div>
                <div class="main-content">
                    <p>
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem
                        We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem We Love Fire Emblem           
                    </p>
                </div>
                <div>
                    <img name="three-houses-cover" src="images/three-houses-cover.jpg">
                </div>              
            </div>
            <!--END MAIN-CONTENT CONTAINER-->
        </div>
        <!--END PARCHMENT CONTAINER-->
        <%- include('./partials/footer.ejs') %>
    </div>
    <!--END BODY CONTAINER-->
    
</body>
</html>