<html lang="en">
  <!--NOTE, href for css stylesheet must be prepended by ../, all other ejs files have not needed this.
  It appears to be related to the create route being nested 2 layers deep, where characters is only 1 layer deep-->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA Compatible" content="ie=edge">
    <title>FE Website Project | <%= title %></title>
    <link rel="stylesheet" type= "text/css" href="../css/stylesheet.css">
</head>

<body>
    <div class="body-container">
        <div class="header-container">
            <h1 id="page-title">Fire Emblem Character Profiles</h1>
            <%- include('../partials/nav.ejs') %>
        </div>
        
        <!--BEGIN parchment-container-->
        <div class="parchment-container">
            <!--BEGIN main-content container-->
            <div class="main-content-container">
                <div class="details-content">
                    <h2><%= character.name %></h2>
                    <a class="update" data-doc="<%= character.id %>">
                        <img src='/pencil.png' alt='update'>
                    </a>
                    <a class="delete" data-doc="<%= character.id %>">
                        <img src='/trashcan.svg' alt='delete'>
                    </a>
                    <div class="profile-portrait">
                        <img name="portrait" src="/portraits/<%= character.portrait %>">
                    </div>
                    <div class="update-area">
                        <div class="update-character-profile">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" value="<%= character.name %>" required>
                            <label for="quote">Quote</label>
                            <input type="text" id="quote" name="quote" value="<%= character.quote %>">
                            <label for="bio">Bio</label>
                            <textarea id="bio" name="bio"><%= character.bio %></textarea>
                            <button id="update-button">Update</button>
                        </div>
                    </div>
                    
                    <h3 class="quote">"<%= character.quote %>"</h3>
                    <div class="content">
                        <p><%= character.bio%></p>
                    </div>
                </div>           
            </div>
            <!--END MAIN-CONTENT CONTAINER-->
        </div>
        <!--END PARCHMENT CONTAINER-->

        <%- include("../partials/footer.ejs") %>
    </div>

    <script>
        const trashcan = document.querySelector('a.delete');
        const pencil = document.querySelector('a.update');
        const updateButton = document.querySelector('#update-button');
        const updateInputBoxes = document.querySelector('div.update-character-profile');

        // default to not displaying input boxes for profile updates
        updateInputBoxes.style.display = 'none';

        trashcan.addEventListener('click', (event) => {
            const endpoint = `/characters/${trashcan.dataset.doc}`;

            fetch(endpoint, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch((err) => {
                console.log(err);
            });
        });


        // hide/show text inputs to update a character profile
        pencil.addEventListener('click', (event) => {
            console.log(updateInputBoxes.style.display);

            if (updateInputBoxes.style.display === 'none') {
                updateInputBoxes.style.display = 'inline';
            } else {
                updateInputBoxes.style.display = 'none';
            }
        });
    
        updateButton.addEventListener('click', (event) => {
            const endpoint = `/characters/${pencil.dataset.doc}`;
            const name = document.querySelector('#name').value;
            const quote = document.querySelector('#quote').value;
            const bio = document.querySelector('#bio').value;
            const data = {};

            if (name) {
                data.name = name;
            }

            if (quote) {
                data.quote = quote;
            }

            if (bio) {
                data.bio = bio;
            }

            fetch(endpoint, {
                method: 'PUT',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch((err) => {
                console.log(err);
            });
        });

    </script>
</body>
</html>