<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

<body>
    <div class="body-container">
        <div class="header-container">
            <h1 id="page-title">Fire Emblem Character Profiles</h1>
            <%- include('../partials/nav.ejs') %>
        </div>
        
        <!--BEGIN parchment-container-->
        <div class="parchment-container">
            <!--BEGIN main-content container-->
            <div class="main-content-container">
                <div class="character-profiles-content">
                    <h2>All Character Profiles</h2>
                    
                    <% if (characters.length > 0) { %>
                        <% characters.forEach((charProfile) => { %>
                            <a class="single" href="/characters/<%= charProfile.id %>">
                                <div class="profile-details">
                                    <h3 class="name"><%= charProfile.name %></h3>
                                    <p class="quote">"<%= charProfile.quote %>"</p>

                                    <!--cut off bio if it is too long to display on the characters page-->
                                    <% if (charProfile.bio.length < 300) { %>
                                        <p class="bio"><%= charProfile.bio %></p>
                                    <% } else { %>
                                        <p class="bio"><%= charProfile.bio.substring(0, 300) + "..." %></p>
                                    <% } %>
                                </div>
                                
                                <div class="profile-portrait">
                                    <img name="portrait" src="/portraits/<%= charProfile.portrait %>">
                                </div>
                                                 
                            </a>
                        <% }); %>       
                    <%} else { %>
                        <p>There are no profiles to display...</p>
                    <% } %>
                </div>            
            </div>
            <!--END MAIN-CONTENT CONTAINER-->
        </div>
        <!--END PARCHMENT CONTAINER-->
         
      <%- include('../partials/footer.ejs') %>
    </div>
</body>
</html>